@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.expense-merchant {
  display: flex;
  font-weight: 600;
  color: white;
}

.expense-category {
  font-size: 0.9rem;
  justify-content: center;
  opacity: 0.7;
}

.expense-amount {
  display: flex;
  color: aliceblue;
  font-weight: 700;
  font-size: 1.05rem;
  float: right;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #263449;
  padding: 16px 0;
  align-items: center;
}


.expense-date {
  font-size: 0.8rem;
  opacity: 0.7;
}

.expense-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.expense-card {
  padding: 20px;
  border: 1px solid #263449;
  border-radius: 16px;
  background: #111c2c;
  box-shadow: -10px 10px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;

  display: flex;
  flex-direction: column;
}

.expense-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.expense-item:last-child {
  border-bottom: none;
}

.expense-item:first-child {
  border-top: none;
}

.expense-card-header {
  display: flex;
  justify-self: start;
  text-align: left;
  margin-bottom: 10px;
}

.expense-overview-header {
  display: flex;
  justify-self: start;
  text-align: left;
  margin-bottom: 10px;
  flex: 1;
}

.expense-info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.expense-card-button {
  background-color: #111C2A;
  border-color: rgb(255, 255, 255, 10%);
  border-width: 0.1px;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  color: #118C4F;
  margin-top: auto;
}

.expense-card-button:hover {
  opacity: 75%;

}

.add-expense-card {
  padding: 20px;
  border: 1px solid #263449;
  border-radius: 16px;
  background: #111C2A;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 10px 4px 0 rgba(0, 0, 0, 0.2);
  min-width: 260px;
  min-height: 400px;
}

.expenses-lists {
  flex-direction: row;
  display: flex;
  background-color: #0E1722;
  gap: 15px;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  width: auto;
  height: 500px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 1;
  height: 500px;
}

.add-merchant-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sub-header {
  opacity: 50%;
  text-align: left;
}

.add-amount-item {
  display: flex;
  height: 25px;
  justify-content: center;
  outline: solid;
  outline-color: rgb(255, 255, 255, 25%);
  border-radius: 5px;
  outline-width: 1px;
}

select {
  display: flex;
}

.dollar-symbol {
  display: flex;
  width: 100%;
  background-color: #121C2B;
  color: rgb(255, 255, 255);
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

/*#121C2B*/

.input-amount {
  display: flex;
  justify-content: center;
  text-align: left;
  background-color: #142230;
  padding: 0 0 0 5px;
  border-width: 0px;
  border-radius: 0 5px 5px 0;
  width: 100%;
  color: rgb(255, 255, 255, 50%);
}

.input-amount:focus {
  outline: none;
  box-shadow: none;
}

.input-merchant {
  background-color: #14212F;
  border-style: none;
  outline: solid;
  outline-color: rgb(255, 255, 255, 25%);
  border-radius: 5px;
  outline-width: 1px;
  padding: 5px;
  display: flex;
  color: rgb(255, 255, 255, 50%);
}

.text-symbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.select-menu {
  background-color: #14212F;
  border-style: none;
  outline: solid;
  outline-color: rgb(255, 255, 255, 25%);
  border-radius: 5px;
  outline-width: 1px;
  padding: 5px;
  color: rgb(255, 255, 255, 50%);
  width: 100%;
}


.menu-options {
  color: rgb(255, 255, 255, 50%);
}

.add-date-item {
  display: flex;
}

.date-input {
  background-color: #111C2A;
  border-style: none;
  outline: solid;
  outline-color: rgb(255, 255, 255, 25%);
  border-radius: 5px;
  outline-width: 1px;
  padding: 5px;
  color: rgb(255, 255, 255, 50%);
  display: flex;
  width: 100%;

}

.none-option {
  pointer-events: none;
  display: none;
}

.form-style {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: calc(100%/25);
}

.lsit-items {
  display: flex;
}

.add-expense-button {
  margin-top: auto;
  background-color: #2E9060;
  border-style: none;
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

.add-expense-button:hover {
  opacity: 70%;
}

.header {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-left: 20px;
}

.background {
  display: flex;
  flex: 1;
  background-color: #090F19;
  align-items: stretch;
}

.first-column {
  display: flex;
  flex-direction: column;
  background-color: #0D1522;
  width: auto;
  margin-bottom: 20px;
  border-radius: 0 0 20px 0;
}

.second-column {
  display: flex;
  background-color: #0A0F19;
  flex-direction: column;
  flex: 1;
}

body {
  background-color: #091019;
  font-family: "Inter", sans-serif;
}

.button-nav {
  margin: 15px;
  width: 200px;
  color: rgb(255, 255, 255);
  background-color: #0D1522;
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 15px;
  gap: 15px;
}

.button-nav .nav-icon {
  color: white;
}

.button-nav:hover {
  background-color: #131C2A;
  color: #118C4F
}

.button-nav:hover .nav-icon {
  background-color: #131C2A;
  color: #118C4F
}

.chart-card {
  flex-direction: row;
  display: flex;
  background-color: #0E1722;
  gap: 15px;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  width: auto;
  height: 500px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 1;
  height: 500px;
}

.overview {
  padding: 20px;
  border: 1px solid #263449;
  border-radius: 16px;
  background: #111c2c;
  box-shadow: -10px 10px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 320px;

}

.legend-row {
  display: grid;
  grid-template-columns: 0px 100fr 80px;
  width: 100%;
  column-gap: 40px;
}

.donut-container {
  width: 50%;
}

.overview-content {
  display: flex;
  align-items: center;
}

.legend-row span:nth-child(2) {
  text-align: left;
  white-space: nowrap;
  align-content: center;

}

.legend-row span:nth-child(3) {
  text-align: right;
  align-content: center;

}

.text-chart {
  color: white;
}

.legend-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}

.overview-top {
  display: flex;
}

.select-menu-overview {
  background-color: #14212F;
  border-style: none;
  outline: solid;
  outline-color: rgb(255, 255, 255, 25%);
  border-radius: 5px;
  outline-width: 1px;
  padding: 5px;
  color: rgb(255, 255, 255, 50%);
}

.no-items {
  margin: auto 0;
  text-align: center;
  width: 100%;
}

.summary-section {
  flex-direction: row;
  display: flex;
  background-color: #0E1722;
  gap: 15px;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  width: auto;
  height: 500px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 1;
  height: 500px;
}

.total-expenses {
  display: flex;
  text-align: left;
  row-gap: 10px;
  width: fit-content;
  white-space: nowrap;
}

.text-main-card {
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.wallet-icon {
  display: flex;
  background-color: #1D5639;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}

.color-category {
  height: 20px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-self: center;
  border-radius: 100%;
}